<!DOCTYPE html>
<html lang="en">
<head>
    <title>Purchases-The Connoisseurs</title>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body>
    <p>Here are your purchased products</p>
    <p>products:</p>
    <% for(product of purchases){ %>
        <%- include('../partials/displayProduct'); %>
    <% } %>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>