<div class="header">
<!--    <h1><a href="\">HOGES WEBSITE!</a></h1>-->
<!--    <p>placeholder header text until I figure out what to put here.</p>-->
    <nav>
        <a href="\"><img src = "/logo.png"></a>
        <ul class = "nav-links">
            <li><a href="\">Home</a></li>
            <li><a href="\products">Products</a></li>
            <li><a href="\">home</a></li>
            <li><a href="\">home</a></li>
            <li class="btn"><a type="button" href="/login">Log In</a></li>
            <li class="btn"><a type="button" href="/register">Register</a></li>
        </ul>
    </nav>
</div>