<script>
    const str = "Password difficulty: "
    const passwordDifficulty = function (){
        const difficultyText = document.getElementById("difficulty")
        const modifiersText = document.getElementById("modifiers")
        const password = document.forms[0].password.value

        var difficulty = "hard";
        var modifiers  = "Password: ";

        if(password.length < 5){
            difficulty = "easy"
            modifiers += "is too short, "
        }
        else if (password.length < 10){
            difficulty = "medium"
        }

        if(password.toLowerCase() === password || password.toUpperCase() === password){
            difficulty = "easy";
            modifiers += "Needs Lower and Upper Case letters, "
        }
        if(!checkIfStringHasSpecialChar(password)){
            difficulty = "easy";
            modifiers += "Need special characters, "
        }

        switch (difficulty){
            case "easy":
                difficultyText.style.color = "red"
                break
            case "medium":
                difficultyText.style.color = "white"
                modifiers = "";
                break
            case "hard":
                difficultyText.style.color = "green"
                modifiers = "";
                break

        }
        difficultyText.textContent =str+ difficulty
        modifiersText.textContent = modifiers;

    }
    //https://thispointer.com/javascript-check-if-string-contains-special-characters/
    function checkIfStringHasSpecialChar(_string)
    {
        let spChars = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        if(spChars.test(_string)){
            return true;
        } else {
            return false;
        }
    }
</script>
<p></p>
<header id = "difficulty" ></header>
<p id = "modifiers"></p>