<div class = "recommendProduct">
    <header>Your recommended products are:</header>
    <% if (locals.auth && locals.user.purchases.length>0) { %>
        <%var product =locals.user.purchases[Math.floor(Math.random()*locals.user.purchases.length)] %>
        <%- include('../partials/displayProduct', {product: product}); %>
    <% } %>
</div>