<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <%- include('partials/head'); %>
</head>
<header>
    <%- include('partials/header'); %>
</header>
<body>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/logo.png" alt="" width="auto" height="60">
    <h1 class="display-5 fw-bold">Provide Your Email Address and we will send you an email</h1>
    <div class="col-lg-3 mx-auto">
        <h1><%= error %></h1>
        <form action="/forgotPassword" method="POST">
            <div class="mb-2">
                <label for="username" class="form-label">Email</label>
                <input type="text" class="form-control" name="username" placeholder="Email Address" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
</div>
</body>
<footer>
    <%- include('partials/footer'); %>
</footer>
</html>