<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Connoisseurs</title>
        <%- include('partials/head'); %>
    </head>
    <header>
        <%- include('partials/header'); %>
    </header>
    <body>
        <h1>This is the main page!</h1>
        <img src="hoge.png">
    </body>
    <footer>
        <%- include('partials/footer'); %>
    </footer>
</html>