<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <%- include('partials/head'); %>
    </head>
    <header>
        <%- include('partials/header'); %>
    </header>
    <body>
        <h1>This is the main page!</h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-primary btn-lg px-4 gap-3 me-2" href="/login">Log In</a>
            <a type="button" class="btn btn-primary btn-lg px-4 gap-3 me-2" href="/register">Register</a>
        </div>
        <img src="hoge.png">
    </body>
    <footer>
        <%- include('partials/footer'); %>
    </footer>
</html>