header {
    padding: 10px;
    text-align: center;
    background: #ffed00;
    color: #a200ff; /*text color */
}
.header h1 {
    font-size: 40px;
    color: #000000; /*text color */
}

body {
    background-color: powderblue;
    text-align: center;
    margin: 0; padding: 0;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #a4a3a3;
    color: #000000; /*text color */
}

.displayProduct{
    background: #dccdcd;
    display: inline-block;
    padding: 10px;
}