.header {
    /*https://www.youtube.com/watch?v=G6SwH0lFxM8*/
    padding: 0 0.5%;
    background: #202225;
    margin-bottom: 25px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links a{
    text-decoration: none;
    color: #e3e2e2;
    padding: 5px 0;
    position: relative;
}
.nav-links a::after{
    content: '';
    background: #cc3c0d;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.1s;
}
.nav-links a:hover::after{
    width: 100%;
}
.btn {
    background: #cc3c0d;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 3px;
}
.btn a::after{
    transition: background 0.1s;
}
.btn a:hover::after{
    background: #ffffff;
}

body {
    background-color: #2b2b2b;
    color: #e3e2e2;
    text-align: center;
    margin: 0; padding: 0;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #a4a3a3;
    color: #000000; /*text color */
}

.displayProduct{
    color: #000000;
    background: #dccdcd;
    display: inline-block;
    padding: 10px;
}