<!DOCTYPE html>
<html lang="en">
<head>
    <title>edit</title>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
    <body>
        <h1>This is the edit product page!</h1>
        <p>editing to be implemented</p>
        <p>product:</p>
        <p><%= product %></p>
    </body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>