<!DOCTYPE html>
<html lang="en">
<head>
    <title>edit</title>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body>
<h1>This is the new product page!</h1>
<p>to be implemented</p>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>